{% extends 'base.html.twig' %}
{% block title %}Agence Lorem{% endblock %}
{% block body %}
<div class="jumbotron text-center margin-top">
    <h1> Agence Lorem Ipsum </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolore a ut porro commodi corporis? </p>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-3">
                {% include 'property/property.html.twig' %} 
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
