{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron txt-center">
    <h1> Agence Lorem Ipsum </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas omnis, placeat? Corporis totam officiis tempore, temporibus accusantium. Magni excepturi, earum!</p>
</div>

{% endblock %}
